/* .PNB-bg{
	background-color: #EEEEEE;
} */
.CBA-bg{
	background-color: #B22625;
	color:#FAF0F0;
	--bs-table-hover-color: #FAF0F0;
}
.WCBA-bg{
	background-color: #BE1957;
	color:#FAF0F0;
	--bs-table-hover-color: #FAF0F0;
}
.B1-bg , .B2-bg , .B3-bg{
	background-color: #434343;
	color:#FAF0F0;
	--bs-table-hover-color: #FAF0F0;
}
.WKBL-bg{
	background-color: #183F92;
	color:#FAF0F0;
	--bs-table-hover-color: #FAF0F0;
}
.braves-bg{
	background-color: #5EC9F6;
}
.kings-bg{
	background-color: #E6D24F;
}
.pilots-bg{
	background-color: #ED733C;
}
.lioneers-bg{
	background-color: #9B7EE2;
}
.dreamers-bg{
	background-color: #96B651;
}
.steelers-bg{
	background-color: #E25E65;
}
.dea-bg{
	background-color: #EDC145;
}
.mars-bg{
	background-color: #ED544E;
}
.leopards-bg{
	background-color: #44984F;
}
.ghosthawks-bg{
	background-color: #C27D80;
}
.aquas-bg{
	background-color: #638CE9;
}
.beer-bg{
	background-color: #459250;
}
.bank-bg{
	background-color: #D75650;
}
.yulon-bg{
	background-color: #8092E4;
}
.bll-bg{
	background-color: #A66ECF;
}
.cathay-bg{
	background-color: #F9D978;
}
.taipower-bg{
	background-color: #66A4D6;
}
.cht-bg{
	background-color: #82A5D3;
}
.taiyuen-bg{
	background-color: #6D99E1;
}
.fa-bg{
	background-color: #EEEEEE;
}