/* table cell general setting */
.borderR {
	border-right: 3px solid black;
}

.textL {
	text-align: left;
}

.textR {
	text-align: right;
}

/* table settings */
table {
	table-layout: fixed;
	position: relative;
	margin: auto;
	border-collapse: separate;
	border-spacing: 0px;
	--bs-border-width: 0px;
	width: 100%;
	margin: 0;
}

tr {
	background-color: #EEEEEE;
}

th,
td {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;

	padding: 7px;
	font-size: 15px;
}

a {
	text-decoration: underline;
	color: inherit;
}

a:hover {
	color: #FFA500;
}

.table-scroll {
	position: relative;
	margin: 0;
	overflow: auto;
	height: auto;
	border: 3px solid black;
}
.table-scroll table {
	margin: 0;
}
.table-scroll th {
	width: auto;
	background: #1b1b1b;
	color: #fff;
	position: sticky;
	top: 0;
	padding: 14px 7px;
	border-top: 0;
	border-bottom: 0;
	z-index: 2;
}
.table-scroll td {
	width: auto;
	border-top: 1px solid #666;
	z-index: 1;
}

/* fix columns */
.table-fixTeam th:first-child,
.table-fixTeam th:nth-child(3),
.table-fix1 th:first-child,
.table-fix2 th:nth-child(2) {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	z-index: 4;
}

.table-fixTeam td:first-child,
.table-fixTeam td:nth-child(3),
.table-fix1 td:first-child,
.table-fix2 td:nth-child(2) {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	z-index: 3;
}

.table-fixTeam th:nth-child(3) {
	left: 106px;
}

.table-fixTeam td:nth-child(3) {
	background-color: inherit;
	left: 106px;
}

.table-fix1 td:first-child,
.table-fix2 td:nth-child(2) {
	background-color: inherit;
	border-right: 3px solid black;
}